.wGuide {
  z-index: 999999;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

  .close {
    position: absolute;
    bottom: 40px;
    left: 50%;
    transform: translateX(-50%);
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 1px solid white;

    &::before, &::after {
      content: "";
      display: block;
      height: 1px;
      width: 33px;
      background: white;
      position: absolute;
      left: 0;
      top: 0;
      right: 0;
      bottom: 0;
      margin: auto;
    }
    &::before { transform: rotate(45deg); }
    &::after { transform: rotate(-45deg); }
  }

  .child {
    position: absolute;
    left: 0;
    right: 0;
    height: auto;
  }
}
