/**
 * Create by Mora at 2017-12-01 19:42
 * All right reserved
 */

.pStartUp {
  .gov {
    z-index: 10000;
    position: fixed;
    bottom: 5px;
    left: 0;
    right: 0;
    font-size: 12px;
    color: #999;
    text-align: center;
  }
}
