/**
 * Create by Mora at 2017-11-14 12:12
 * All right reserved
 */

.bodyTestCareersV3 {
  background: whitesmoke;
}
.pTestCareersV3 {
  padding: 22px;

  h1 {
    font-size: 21px;
    font-weight: bold;
    margin-bottom: 10px;
  }

  .wCareerCard {
    margin: 20px 0;
  }
}
