/**
 * Create by Mora at 2017-11-13 15:33
 * All right reserved
 */

.pCareerLearnItemV3 {
  > h1 {
    padding: 0 20px;
    font-size: 24px;
    font-weight: bold;
  }
  .author {
    padding: 0 20px;
    font-size: 12px;
    margin: 10px 0 25px;
  }

  .fav {
    position: absolute;
    right: 10px;
  }
}
