/**
 * Create by Mora at 2017-12-19 15:39
 * All right reserved
 */
.bodyAcademyHome {
  background: $activeColor;
  .gMarkdown {
    padding: 0;
    p {
      margin: 0;
    }
  }
}
.pAcademyHome {
  img {
    display: block;
    width: 100%;
  }
}
